.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    /* position: fixed;
    top: 26px;
    width: 100%;
    box-sizing: border-box; */
}

.screen-header__title {
    font-size: 25px;
    font-weight: 600;
}

/* .screen-header__icons {
    width: 120px;
    justify-content: space-between;
    display: flex;
} */

.screen-header__icons span {
    margin-left: 25px;
}

.screen-header__icons span:last-child {
    margin-right: 10px;
}